 *{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

 #content{
     position:relative;
  }

 #content{
     min-width:1050px;
     padding-bottom:120px
  }
 #main{
   border-bottom:1px solid #f7f7f7
 }
 .noBody{
    overflow:hidden;
    position:fixed;
    width:100%;
    height:100%
  }
/*  body,input,select,textarea,button{
  font-family:noto sans,malgun gothic,AppleGothic,dotum;
  line-height:1;
  letter-spacing:-.05em;
  color:#4c4c4c;
  font-size:12px;
  max-width:100%
  text-decoration-line: none;
 } */