 	.page_aticle{
	 	width: 1050px;
	 	margin: 0 auto;	
	 	padding-top: 23px;
	 }
	 .page_aticle * {
	 	font-familt: noto sans;
	 	font-weight: 400;
	 	letter-spacing: 0;
	 }
	 #snb{
	 	float: left;
	 	width: 200px;
	 }
	 #snb .tit_snb{
		padding: 9px 6 33px 1px;
	    font-weight: 600;
	    font-size: 34px;
	    line-height: 34px;
	    color: #333;
	    letter-spacing: -.5px;
	}
	
 	h2{
		display: block;
	    font-size: 1.7em;
	    margin-block-start: 0.83em;
	    margin-block-end: 0.83em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    font-weight: bold;
		
	} 
	#snb .inner_snb{
		border: 1px solid #f2f2f2;
		border-bottom: 0;
	}
	
	 ul{
		list-style-type: none;
	
	
	#snb .list_sidemenu li{
		list-style-type: none;
		border-bottom: 1px solid #f2f2f2;
		display: list-item;
    	text-align: -webkit-match-parent;
    	display: block;
	    list-style-type: disc;
	    margin-block-start: 1em;
	    margin-block-end: 1em;
	    margin-inline-start: 0px;
	    margin-inline-end: 0px;
	    padding-inline-start: 40px;
	    text-decoration-line: none
	}
	}
	
	#snb .list_sidemenu li a{
		display: block;
		overflow: hidden;
		padding: 15px 0 15px 20px;
		background: #fff url("> �씠誘몄� 援ы빐�삤湲�") no repeat 174px 52%;
		background-size: 6px 11px;
		font-size: 14px;
		color: #666;
		line-height: 20px;
		letter-spacing: -3.px;
		text-decoration-line: none
		
		
	}
	
	#snb .list_sidemenu li.on a, #snb .list_sidemenu li a:hover{
		background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 174px 52%;
    	background-size: 6px 11px;
    	font-weight: 700;
    	color: #378bb3;
    	text-decoration-line: none;
    	
	}
	
	#snb .link_inquire{
		display: block;
	    overflow: hidden;
	    width: 200px;
	    height: 93px;
	    margin-top: 20px;
	    padding: 9px 0 0 21px;
	    border-radius: 0 100px 100px 0;
	    background: #fafafa url(https://res.kurly.com/pc/ico/2008/ico_arrow_6x11_on.svg) no-repeat 177px 16px;
	    background-size: 6px 11px;
	    font-size: 12px;
	    color: #333;
	    line-height: 20px;
	    text-decoration: none;
	}
	
	#snb .link_inquire span.emph {
		display: block; 
		padding-bottom: 1px;
		font-weight: 700;
		font-size: 14px;
	}
	
	/*留덉씠�럹�씠吏� 蹂몃Ц css */
	.page_aticle .page_section{
		float: right;
		width: 820px;
	}
	.page_aticle .head_aticle{
		padding: 5px 0 10px;
	}
	.page_aticle .head_aticle .tit{
		height: 36px;
	    font-weight: 700;
	    font-size: 24px;
	    line-height: 36px;
	    color: #333;
	    letter-spacing: -.5px;
	}
	.page_aticle .head_aticle .tit_sub{
		padding-left: 11px;
		font-size: 14px;
		color: #999;
		line-height: 20px;
		letter-spacing: -.3px;
		vertical-align: 3px;
	}
	
	/* 湲곌컙 硫붾돱 */
	.search_data{
		position: relative;
		z-index: 1;
	}
	.screen_out{
		display: block;
		overflow: hidden;
		position: absolute;
		left: -9999px;
		width: 1px;
		heigth: 1px;
		font-size: 0;
		line-height: 0;
		text-indent: -9999px;
	}
	.search_data .btn_layer{
		overflow: hidden;
	    position: absolute;
	    right: 0;
	    top: -74px;
	    width: 157px;
	    height: 44px;
	    padding: 11px 0 0 15px;
	    border: 1px solid #ddd;
	    font-size: 14px;
	    color: #666;
	    line-height: 18px;
	    letter-spacing: -.5px;
	}
	
	.search_data .btn_layer:after{
		content: "";
    	position: absolute;
	    left: 128px;
	    top: 18px;
	    width: 12px;
	    height: 8px;
	    background: url(https://res.kurly.com/pc/ico/2008/ico_down_12x8.svg) no-repeat 0 0;
	    background-size: 12px 8px;
	}
	
	.search_data .layer_search{
		display: none;
		position: absolute;
		right: 0;
		top -30px;
		width: 157px;
		border: 1px solid #dddfe1;
		border-top: 0;
	}
	
	.search_data .layer_search li{
		background-colir: #fff;
	}
	
	.search_data .layer_search li:first-child{
		border-top: 0;
	}
	
	.search_data layer_search li{
		background-color: #fff;
		border-top: 1px solid #dddfe1;
	}
	
	.search_data .layer_search a{
		display: block;
	    overflow: hidden;
	    height: 32px;
	    padding: 7px 0 0 8px;
	    font-size: 12px;
	    color: #666;
	    line-height: 18px;
	    letter-spacing: -.2px;
	}
	
	.search_data .layer_search a.on{
		background-color: #f7f7f7;
	}
	
	/* 二쇰Ц 由ъ뒪�듃 */
	.section_orderlist .list_order{
		padding-top: 10px;
		border-top: 2px solid #333;
	}
	.page_aticle .no_data{
		padding: 50px 0;
		font-size: 13px;
		color: #757575;
		text-align: center;
	}
	.section_orderlist .list_order .no_data{
		border-bottom: 1px solid #dddfe1;
	}
	
	
	/* 媛쒖씤�젙蹂� �닔�젙 李� */
	.member_join{
		width: 640px;
		margin: 0 auto;
	}
	.member_mod{
		width:820px;
	}
	
	.member_join .tb1_comm{
		width: 100%;
		border-top: 2px solid #333;
	}
	
	table{
	
		border-collapse: separate;
		border-spacing: 0;

	}
	
	tbody{
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}
	
	.member_join th{
		width: 150px;
		padding: 20px 0 0 20px;
		font-weight: 700;
		font-size: 14px;
		color: #333;
	}	
	
	.member_mod th{
		width: 259px;
		padding-left: 120px;
	}
	.member_join .tb1_comm .fst th{
		padding-top: 29px;
	}
	
	.member_join th .ico{
		color: #ee6a7b;
	}
	
	.member_mod th .ico{
		display: none;
	}
	.screen_out{
		display: block;
		overflow: hidden;
	    position: absolute;
	    left: -9999px;
	    width: 1px;
	    height: 1px;
	    font-size: 0;
	    line-height: 0;
	    text-indent: -9999px;
	}
	
	/* 媛쒖씤�젙蹂� �닔�젙 �엯�젰�� �뤌 */
	.member_join td{
		padding: 10px 0;
	    border-top: 0;
	    font-size: 14px;
	    vertical-align: top;
	    text-align: left;
	}
	.member_join .tb1_comm .fst td{
		padding-top: 40px;
	}
	
	.type_form textarea, .type_form input[type=text], .type_form input[type=password]{
		height: 44px;
    	padding: 0 14px;
	    border: 1px solid #ccc;
	    font-size: 14px;
	    color: #333;
	    line-height: 20px;
	    border-radius: 3px;
	    background: #fff;
	    outline: none;
	    vertical-align: top;
	}
	
	.member_join input[type=text], .member_join input[type=password]{
		width: 332px;
		font: inherit;
	}
	
	.type_form .txt_guide{
		display: none;
		padding: 10px 0 9px;
		font-size: 12px;
		color: #666;
		line-height: 18px;
		word-break: break-all;
		letter-spacing: -.1px;
		clear: both;
	}
	
	.member_join .txt_guide{
		width: 332px;
	}
	
	
	/*踰꾪듉 css*/
	.member_join .form_footer{
		padding-top: 18px;
		text-align: center;
	}
	
	.type_form .btn{
		display: block;
	    width: 100%;
	    height: 44px;
	    border: 0;
	    border-radius: 3px;
	    font-weight: 700;
	    font-size: 14px;
	    line-height: 25px;
	    text-align: center;
	    outline: none;
	}
	.member_join .btn{
		display: inline-block;
		width: 120px;
		margin-left: 30px;
		vertical-align: top;
	}
	
	.type_form .btn.default{
		border: 1px solid #378bb3;
		background-color: #fff;
		color: #378bb3;
	}
	
	.type_form .btn.active{
		border: 1px solid #378bb3;
		background-color: #378bb3;
		color: #fff;
	}
	
	
	/*留덉씠�럹�씠吏� top */
	.mypage_top{
		width: 100%;
		padding: 99px 0;
		margin-bottom: 20px;
		margin-top :100px;
		background-color: #f7f7f7;
	}
	
	.mypage_top .inner_mypagetop{
		overflow: hidden;
		width: 100%;
		display: flex;
		align-items: stretch;
	}
	
	.mypagetop_user{
		overflow: hidden;
		width: 1050px;
		margin: 0 auto;
	}
	
	.mypage_top .userpro{
		width: 320px;
		height: 190px;
		padding: 40px;
		background-color: #fff;
	}
	
	.mypage_top .pro_wrap{
		display: flex;
		align-items: center;
	}
	
	.mypage_top .profil{
		overflow: hidden;
	    float: left;
	    max-width: 263px;
	    font-weight: 700;
	    font-size: 20px;
	    color: #333;
	    line-height: 28px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	.mypage_top .name{
		overflow: hidden;
	    float: center;
	    max-width: 263px;
	    font-weight: 550;
	    font-size: 14px;
	    color: #378bb3;
	    line-height: 89px;
	    white-space: nowrap;
	    text-overflow: ellipsis;
	}
	
	.mypage_top .list_mypage{
		display: flex;
	    flex-grow: 1;
	    flex-direction: column;
	    margin-left: 10px;
	}
	
	.mypage_top .list_mypage .list{
		display: flex;
	    overflow: hidden;
	    width: 100%;
	    height: 100%;
	}
	
	.mypage_top .list_mypage .link_wrap{
		width: 400px;
	    background-color: #fff;
	    padding: 26px 0 30px 30px;
	    display: flex;
	    flex-direction: column;
	    text-decoration: none;
		margin-left: 10px;
	   
	}

	.mypage_top .list_mypage .link_wrap .link_title{
		font-size: 21px;
	    font-weight: 500;
	    display: flex;
	    align-items: center;
	    color: #333;
	    position: relative;
	    margin_right: 4px;
	}
	
	.mypage_top .list_mypage .link_wrap .spacer{
		flex-grow : 1;
	}
	
	.mypage_top .list_mypage .link_wrap .info{
		font-weight: 700;
	    font-size: 20px;
	    color: #378bb3;
	    line-height: 28px;
	    flex-grow: 3;
	    position: relative;
	}
	
	.page_aticle .tb1{
		width:100%;
	}
	
	/*諛곗넚吏� 愿��젴 */
	.section_destination .tb1_type1{
		border-bottom: 1px solid #f4f4f4;
	}
	
	.page_aticle .tb1_type1 th{
		padding: 20px 0;
	    border-top: 2px solid #333;
	    font-weight: 700;
	    font-size: 14px;
	    line-height: 20px;
	    color: #333;
	    letter-spacing: -.5px;
	}
	
	.section_destination .tb1_type1 th{
		padding: 17px 0 20px;
		vertical_align: top;
	}
	
	.section_destination .tb1_type1 .tit_select{
		display: none;
		width: 60px;
	}
	
	.section_destination .type_select .tit_select{
		display: table-cell;
	}
	
	.section_destination .tb1_typ1 .tit_address{
		width: auto;
	}
	
	.section_destination .type_select .tit_address{
		
		text-indent: 200px;
	}
	
	.section_destination .tb1_type1 .tit_delivery{
		width:100px;
	}
	
	.section_destination .tb1_type1 .tit_modify{
		width: 60px;
	}
	
	tr{
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}
	
	.section_destination .tb1_type1 .addr{
		padding: 10px;
	    font-size: 20px;
	    color: #333;
	    line-height: 20px;
	    letter-spacing: -0.10px;
	    text-align: left;
	    word-break: break-all;
	}
	
	.page_aticle .tb1_type1 tr:first-child td{
		border-top : 1px solid #333;
	}
	
	.section_destination .tb1_type1 tr:first-child td, .section_destination .tb1_type1 td{
		height: 90px;
	    font-size: 14px;
	    color: #333;
	    line-height: 22px;
	    letter-spacing: -0.4px;
	    vertical-align: middle;
	   
	}
	
	.section_destination  .tb1_type1 .star{
	
	    font-size: 15px;
	    color: #333;
	    line-height: 20px;
	    letter-spacing: -0.3px;
	    text-align: left;
	    word-break: break-all;
	}
	
	.section_destination .tb1_type1 .modify{
		width: 24px;
	    height: 24px;
	    border: 0 none;
	    background: url(https://res.kurly.com/mobile/ico/2006/ico_modify.png) no-repeat 50% 50%;
	    font-size: 0;
	    line-height: 0;
	   
	}
	
		